extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }
  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      include partials/themes
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in category.articles
          li.preview__item(class=article.image ? '' : 'preview__item--noimage')
            ul.preview__breadcrumbs
              each cat in article.categories.slice(0, 4)
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href='/articles/category/' + cat.id) #{cat.name}
            if article.image
              .preview__background
                img.preview__background-image(src=`/img/${article.image}` width='460' height='240' alt=article.title)
            time.preview__time(datetime=article.createdAt) #{formatDate(article.createdAt)}
            h3.preview__name
              a.preview__name-link(href='/articles/' + article.id) #{article.title}
            p.preview__text #{article.announce}
            a.preview__comment(href='/articles/' + article.id)
              | Комментарии
              span.preview__cloud
              b.preview__comment-count #{article.comments.length}
