extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }
    const sliceText = (announce) => {
      if(announce.length > 100) {
        return `${announce.slice(0, 100)}...`;
      }
      return announce;
    }
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Добро пожаловать на самый интересный блог 👏
    section.main-page__theme-list
      h2.visually-hidden Список тем
      include partials/themes
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          span.hot__icon.hot__icon--fire
        if popularArticles.length
          ul.hot__list
            each popularArticle in popularArticles
              li.hot__list-item
                a.hot__list-link(href=`/articles/${popularArticle.id}`) #{sliceText(popularArticle.announce)}
                  sup.hot__link-sup #{popularArticle.commentsCount}
        else
          p(class="hot__empty") Здесь пока ничего нет...
      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          span.last__icon.last__icon--cloud
        if lastComments.length
          ul.last__list
            each comment in lastComments
              li.last__list-item
                img.last__list-image(src=`img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
                b.last__list-name #{comment.users.name} #{comment.users.surname}
                a.last__list-link(href=`/articles/${comment.articleId}`)=sliceText(comment.text)
        else
          p(class="hot__empty") Здесь пока ничего нет...
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      if articles.length
        ul.preview__list
          each article in articles
            li.preview__item(class=article.image ? '' : 'preview__item--noimage')
              ul.preview__breadcrumbs
                each category in article.categories.slice(0, 4)
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='/articles/category/' + category.id) #{category.name}
              if article.image
                .preview__background
                  img.preview__background-image(src=`img/${article.image}` width='460' height='240' alt=article.title)
              time.preview__time(datetime=article.createdAt) #{formatDate(article.createdAt)}
              h3.preview__name
                a.preview__name-link(href='/articles/' + article.id) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href='/articles/' + article.id)
                | Комментарии
                span.preview__cloud
                b.preview__comment-count #{article.comments.length}
      else
        h2 Здесь пока пусто!
    .preview__toggle-wrapper
      +pagination(page, totalPages, 2, `?`)
